body {
	padding: 0;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

hr,
#skiplink,
#tools,
#nav { 
	display: none; 
}

#content {
	font-size: 11px;
}

a {
	color: #1c2960;
}

input,
select,
textarea {
	font-size: 11px;
}

h1 {
	font: normal 16px Times, serif;
	color: #881502;
}
h2 {
	font: normal 24px Times, serif;
	color: #1c2960;
}
h3 {
	font: normal 15px Times, serif;
	color: #1c2960;
}
h4 {
	font: bold 12px Times, serif;
	color: #891300;
}
	h4 span {
		color: #666666;
	}

	div.field-groups h4,
	div.field-groups h5 {
		font-size: 11px;
		color: #444444;
		font-weight: normal;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}

label {
	display: block;
	color: #444444;
}
	label.radio {
		display: inline;
	}

fieldset {
	border: 0;
	padding: 0 0 15px 0;
	margin: 0;
}
	fieldset.actions {
		clear: both;
	}
	fieldset p {
		color: #888888;
	}

div.hint {
	color: #888888;
}

div.confirmation { }
	div.confirmation div {
		float: left;
	}
	div.confirmation div.info {
		width: 325px;
	}
		div.confirmation div.info table {
			margin: 0 auto;
		}
	div.confirmation div.barcode {
		float: right;
	}

th {
	text-align: left;
	font-weight: normal;
	vertical-align: top;
}
td {
	vertical-align: top;
}


#siteinfo p {
	font-size: 11px;
}
#siteinfo a {
	color: #0600e6;
}

